<app-breadcrumb [title]="'FORGET_PASSWORD'" [breadcrumb]="'FORGET_PASSWORD'"></app-breadcrumb>
<!-- section start -->
<section class="pwd-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2>{{'TITLES.RECOVER_YOUR_PASSWORD' | translate }}</h2>
                <form class="theme-form" [loader]="isLoading">
                    <div class="form-row">
                        <div class="col-md-12">
                            <ng-container *ngFor="let question of questions">
                                <dynamic-form [question]="question" [form]="form" [class]="'p-0 ' + question.cssClass">
                                </dynamic-form>
                            </ng-container>
                        </div>
                        <button (click)="recoverPassword()" class="btn btn-solid"
                            [disabled]="form.invalid">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->