<div class="product-top-filter">
    <div class="row">
        <div class="col-12">
            <div class="product-filter-content">
                <div class="search-count">
                    <h5>Showing Products 1-{{ products.length }} of {{ paginate.totalItems }} Result</h5>
                </div>
                <div class="product-page-filter">
                    <select (change)="sorting($event)">
                        <option value="">Sorting Items</option>
                        <option value="a-z"  [selected]="sortBy == 'a-z'">Alphabetically A-Z</option>
                        <option value="z-a"  [selected]="sortBy == 'z-a'">Alphabetically Z-A</option>
                        <option value="low"  [selected]="sortBy == 'low'">Price Low to High</option>
                        <option value="high" [selected]="sortBy == 'high'">Price High to Low</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>